/* Nastavenie pozadia na celu obrazovku s obrazkom sky.jpg */
body {
    background-image: url('img/sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

