body {
    background-image: url("img/sky.jpg");
    background-size: cover;
}

.sun {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}